<div class="account-stats">
<div class="heading">Account Statistics</div>
<hr></hr>
    <div class="heading-stats">Total accounts <%= acctCounts.data.reseller.active + acctCounts.data.reseller.suspended %></div> 
    <div class="heading-stats"> Active accounts: <%= acctCounts.data.reseller.active %> </div>
    <div class="heading-stats"> Suspended accounts: <%= acctCounts.data.reseller.suspended %></div>
</div>