html,body{
    display: flex;
    flex-direction: column;
    background:linear-gradient(to left,rgb(233, 230, 230),rgb(146, 139, 139),rgb(233, 230, 230));
    
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    color:rgb(14, 13, 13);
   min-width: 100%;
   max-width: 100%;
    box-shadow: 0 0 20px rgb(5, 133, 172);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    align-self: center;
}
td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
    background-color: rgb(5, 133, 172);
}
tr:nth-child(even) {
    background-color: #ced1d8f5;
  }
  tr:nth-child(odd) {
    background-color: white;
    
  }
  td:hover {
    cursor: pointer;
    height: 2em;  /* more precisely it should be (2.4x2.4)/2.8  */
    width: fit-content;
  }